:root {
    --primary-text: #F8F0FF;
    --primary-background: #19032E;

    --accent-color: #45196E;
    --accent-highlight: #6F3AA1;

    --secondary-text: #FFF0FF;
    
    --secondary-accent-color: #6E196C;
    --secondary-accent-highlight: #A13A9F;
}