:root {
    --primary-text: #19032E;
    --primary-background: #FFFFFF;

    --accent-color: #DCCCEB;
    --accent-highlight: #F8F0FF;

    --secondary-text: #2E032D;

    --secondary-accent-color: #EBCCEA;
    --secondary-accent-highlight: #FFF0FF;
}