body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--primary-text);
}

#popupDiv {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  background-color: var(--primary-background);
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 400ms, color 400ms, opacity 200ms, visibility 0;
}

#popupDiv,
.mainContent {
  padding-left: 1rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#backgroundDiv {
  background-color: var(--primary-background);
  min-height: 100vh;
  transition: 400ms;
}

.faded {
  filter: brightness(0.4);
}

.faded * {
  cursor: default;
}

button,
select {
  border: none;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-text);
  transition: 400ms;
}

button {
  border-radius: 0;
  padding: 0.5rem 1rem;
}

select {
  padding: 0.25rem;
  border-radius: 3px;
}