:root {
  font-size: 18px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--primary-text);
}

#popupDiv {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  background-color: var(--primary-background);
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 400ms, color 400ms, opacity 200ms, visibility 0;
}

#popupDiv,
.mainContent {
  padding: 0 1rem;
  text-align: center;
}

.mainContent {
  margin-bottom: 15vh;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#backgroundDiv {
  background-color: var(--primary-background);
  min-height: 100vh;
  transition: 400ms;
}

.faded {
  filter: brightness(0.4);
}

.faded * {
  cursor: default;
}

.mainPageNav {
  background-color: var(--accent-color);
  display: flex;
  transition: 400ms;
}

button,
select {
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: var(--accent-color);
  color: var(--primary-text);
  transition: 400ms;
}

button:not(.disabledBtn),
select {
  cursor: pointer;
}

button {
  border-radius: 0;
  padding: 0.5rem 1rem;
}

select {
  padding: 0.25rem;
}

button:not(.disabledBtn):hover,
button:not(.disabledBtn):focus,
select:hover,
select:focus {
  background-color: var(--accent-highlight)
}

.deckList {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid var(--accent-highlight);
}

.deckList li {
  padding: 0 0.3rem;
  line-height: 2;
  margin: 0;
  border-bottom: 1px solid var(--accent-highlight);
  vertical-align: middle;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.deckList li:hover {
  background-color: var(--accent-highlight);
}

a {
  cursor: pointer;
}

.gotoDeck {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.deckBtnList {
  display: none;
}

li:hover .deckBtnList {
  display: flex;
}

.reviewCount {
  display: flex;
}

li:hover .reviewCount {
  display: none;
}

.reviewCount span {
  margin-right: 0.75rem;
  transition: 400ms;
}

.newReview {
  color: var(--new-review);
}

.oldReview {
  color: var(--old-review);
}

.deckBtn {
  background-color: var(--primary-background);
  padding: 0 0.5rem;
  transition: 200ms;
  display: flex;
  align-items: center;
}

svg {
  fill: var(--primary-text);
}

.menuFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.menuFooter button {
  font-size: 1.3rem;
  background-color: var(--secondary-accent-color);
  display: flex;
  align-items: center;
}

.menuFooter button:hover {
  background-color: var(--secondary-accent-highlight);
}

.newDeck svg {
  fill: var(--secondary-text);
  margin-right: 0.5rem;
  margin-left: -0.4rem;
  position: relative;
  bottom: 1px;
}

.newDeck {
  padding: 1rem 2rem;
}

.uploadDeck {
  padding: calc(1rem + 2px) 2rem;
  margin-left: 1rem;
}

.fileUpload {
  height: calc(80vh - 2.5rem);
  cursor: pointer;
}

.fileUpload h1 {
  margin-top: 0;
}

#uploadProgressDiv {
  background-color: var(--primary-background);
  position: fixed;
  width: 60vw;
  box-sizing: border-box;
  height: auto;
  left: 20vw;
  top: 50vh;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  box-shadow: 0 0 5px var(--accent-color);
  transition: opacity 200ms, visibility 0;
}

#uploadProgressDiv p {
  overflow: hidden;
}

#uploadProgressDiv h3 {
  margin-top: 0;
}

.progressWrapper {
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-accent-highlight);
}

.progressVal{
  height: 2rem;
  background-color: var(--secondary-accent-color);
}

.shake {
  animation: shake 400ms;
}

.appearFromTop {
  animation: appearFromTop 400ms;
}

@keyframes shake {
  0% { transform: translate(1px, calc(1px - 50%)) rotate(0deg); }
  10% { transform: translate(-1px, calc(-2px - 50%)) rotate(-1deg); }
  20% { transform: translate(-3px, -50%) rotate(1deg); }
  30% { transform: translate(3px, calc(2px - 50%)) rotate(0deg); }
  40% { transform: translate(1px, calc(-1px - 50%)) rotate(1deg); }
  50% { transform: translate(-1px, calc(2px - 50%)) rotate(-1deg); }
  60% { transform: translate(-3px, calc(1px - 50%)) rotate(0deg); }
  70% { transform: translate(3px, calc(1px - 50%)) rotate(-1deg); }
  80% { transform: translate(-1px, calc(-1px - 50%)) rotate(1deg); }
  90% { transform: translate(1px, calc(2px - 50%)) rotate(0deg); }
  100% { transform: translate(1px, calc(-2px - 50%)) rotate(-1deg); }
}

@keyframes appearFromTop {
  0% {  height: 0; }
  100% { height: 2rem; }
}