:root {
  font-size: 18px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--primary-text);
}

body.preload *,
body.preload2 * {
  transition-duration: 0ms !important;
  transition: background-color 200ms, color 200ms !important;
}

input {
  font-size: 1em;
}

input[type="text"] {
  padding: 0.15rem 0.3rem;
  margin-bottom: 1.25rem;
}

.popup {
  transition: opacity 200ms;
}

#popupDiv {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.popupSetting,
#editorSidebar {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  background-color: var(--accent-color);
  transition: 400ms;
}

.popupSetting li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-text);
  transition: 200ms;
  outline: none;
}

.popupSetting li:hover,
.popupSetting li:focus,
.popupSetting .currLi {
  background-color: var(--accent-highlight);
}

.popupContent {
  background-color: var(--primary-background);
  transition: 200ms;
  flex: 1;
}

#popupContent {
  padding-left: 1rem;
}

#popupContent {
  position: relative;
}

#popupContent div:not(.display):not(.necessary),
#editorContent tr.hiddenRow {
  display: none;
}

.mainContent {
  margin-bottom: 15vh;
  padding: 0 1rem;
  text-align: center;
}

.hidden:not(#strongPopup) {
  visibility: hidden;
  opacity: 0;
}

#backgroundDiv {
  background-color: var(--primary-background);
  min-height: 100vh;
  transition: 400ms;
}

.fileUploadWrapper {
  width: 100%;
  height: 100vh;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: -1rem;
  padding-left: 1rem;
  position: relative;
  margin-top: -1.3rem;
  padding-top: 1.3rem;
}

.fileUploadWrapper svg {
  width: 96px;
  height: 96px;
  transition: width 400ms, height 400ms;
}

.fileUploadWrapper:hover svg,
.fileUploadWrapper:focus-within svg {
  width: 128px;
  height: 128px;
  animation: fileUpload 4000ms infinite ease-in-out;
}

#importDeckUpload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  cursor: pointer;
}

.faded {
  filter: brightness(0.4);
}

.faded * {
  cursor: default;
}

.mainPageNav {
  background-color: var(--accent-color);
  display: flex;
  transition: 200ms;
}

svg {
  transition: fill 400ms;
}

button,
select {
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: var(--accent-color);
  color: var(--primary-text);
  transition: 200ms;
}

button:not(.disabledBtn),
select {
  cursor: pointer;
}

button:not(.newDeck) {
  border-radius: 0;
  padding: 0.5rem 1rem;
}

select {
  padding: 0.25rem;
}

button:not(.disabledBtn):hover,
button:not(.disabledBtn):focus,
select:hover,
select:focus {
  background-color: var(--accent-highlight)
}

.deckList {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid var(--accent-highlight);
}

.deckLabel {
  overflow: hidden;
  display: inline-block;
  max-width: calc(100% - 120px);
  white-space: nowrap;
}

.deckList li {
  padding: 0 0.3rem;
  line-height: 2;
  margin: 0;
  border-bottom: 1px solid var(--accent-highlight);
  vertical-align: middle;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  outline: none;
}

.folderElement span {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.folderElement ul {
  width: 100%;
  margin-left: 0;
  padding-left: 0.2rem;
  position: relative;
  left: 0.3rem;
  border-top: 1px solid var(--accent-highlight);
}

.folderElement li:last-child {
  border-bottom: none;
}

.deckList li:not(.folderElement):hover,
.deckList li:not(.folderElement):focus {
  background-color: var(--accent-highlight);
}

a {
  cursor: pointer;
}

.gotoDeck {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.deckBtnList {
  display: none;
}

li:hover>a>.deckBtnList,
li:focus-within>a>.deckBtnList {
  display: flex;
}

li:hover>a>.reviewCount,
li:focus-within>a>.reviewCount {
  display: none;
}

.reviewCount {
  display: flex;
}

.reviewCount span {
  margin-right: 0.75rem;
  transition: 400ms;
}

.newReview {
  color: var(--new-review);
}

.oldReview {
  color: var(--old-review);
}

.deckBtn {
  background-color: var(--primary-background);
  padding: 0 0.5rem;
  transition: 200ms;
  display: flex;
  align-items: center;
}

svg {
  fill: var(--primary-text);
}

.menuFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}

.newDeck {
  width: min(max(min(90px, 15vw, 15vh), 70px), 20vh);
  height: min(max(min(90px, 15vw, 15vh), 70px), 20vh);
  border-radius: 100%;
  background-color: var(--secondary-accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5vw;
}

.newDeck:hover {
  background-color: var(--secondary-accent-highlight);
}

.newDeck svg {
  width: 70%;
  height: 70%;
  fill: var(--secondary-text);
}

.fileUpload {
  height: calc(80vh - 2.5rem);
  cursor: pointer;
}

.fileUpload h1 {
  margin-top: 0;
}

#uploadProgressDiv,
#confirmationDiv {
  background-color: var(--primary-background);
  position: fixed;
  width: 60vw;
  box-sizing: border-box;
  height: auto;
  left: 20vw;
  top: 50vh;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  box-shadow: 0 0 5px var(--accent-color);
}

#uploadProgressDiv p {
  overflow: hidden;
}

#uploadProgressDiv h3 {
  margin-top: 0;
}

.progressWrapper {
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-accent-highlight);
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"] + label::before {
  border-radius: 0;
  background-color: var(--primary-background);
  width: 13px;
  height: 16px;
  border: 1px solid var(--primary-text);
  position: absolute;
  content: "";
  left: 1rem;
  transform: translateY(3px);
  padding-left: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label::before {
  background-color: var(--accent-color);
  content: "✓";
  font-size: 0.7rem;
  line-height: 1rem;
}

label {
  overflow: hidden;
  display: inline-block;
  transition: height 400ms, transform 600ms;
}

.hider + label {
  display: block;
  padding-left: 24px;
  cursor: pointer;
}

.hider + label + label {
  margin-top: 0.5rem;
  height: 2rem;
  transform: translateY(0);
}

#strongPopup {
  background-color: var(--primary-background);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 200ms ease-in-out;
  overflow-y: auto;
  display: flex;
  overflow-x: hidden;
}

#strongPopup.hidden {
  left: -100vw;
}

#strongPopupDetail {
  width: 30vw;
  margin-right: -30vw;
  height: 100vh;
  background-color: black;
  transition: margin-right 200ms;
}

#strongPopupDetail.display {
  margin-right: 0;
}

#editorSearch {
  background-color: var(--accent-highlight);
  padding: 1rem;
  height: calc(1.6rem + 2px);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#editorSidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
}

#editorDisplay {
  padding-top: 3.7rem;
  min-width: 50%;
  overflow: visible;
}

#editorSearch input {
  margin-bottom: 0;
}

.hider:checked + label + label {
  height: 0;
  transform: translateY(-0.7rem);
}

input[type="number"] {
  width: 3rem;
}

.progressVal {
  width: 0;
  height: 2rem;
  background-color: var(--secondary-accent-color);
}

.shake {
  animation: shake 400ms;
}

.appearFromTop {
  animation: appearFromTop 400ms;
}

@keyframes shake {
  0% { transform: translate(1px, calc(1px - 50%)) rotate(0deg); }
  10% { transform: translate(-1px, calc(-2px - 50%)) rotate(-1deg); }
  20% { transform: translate(-3px, -50%) rotate(1deg); }
  30% { transform: translate(3px, calc(2px - 50%)) rotate(0deg); }
  40% { transform: translate(1px, calc(-1px - 50%)) rotate(1deg); }
  50% { transform: translate(-1px, calc(2px - 50%)) rotate(-1deg); }
  60% { transform: translate(-3px, calc(1px - 50%)) rotate(0deg); }
  70% { transform: translate(3px, calc(1px - 50%)) rotate(-1deg); }
  80% { transform: translate(-1px, calc(-1px - 50%)) rotate(1deg); }
  90% { transform: translate(1px, calc(2px - 50%)) rotate(0deg); }
  100% { transform: translate(1px, calc(-2px - 50%)) rotate(-1deg); }
}

@keyframes appearFromTop {
  0% {  height: 0; }
  100% { height: 2rem; }
}

@keyframes fileUpload {
  0% { transform: translateY(0) }
  50% { transform: translateY(2rem) }
  100% { transform: translateY(0) }
}

@media only screen and (max-width: 650px) {
  #popupDiv {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .newDeck {
    margin-right: 50%;
    transform: translateX(50%);
  }
}
